<div class="textos">
  <h2>Descripción</h2>
  <p class="ps">
    De las especies de la familia es la única en Colombia con colores verde y
    amarillo. Presenta un sistema de cría cooperativa conformadom por una pareja
    reproductiva y varios ayudantes. Cyanocorax significa cuervo azul y deriva
    de las raices griegas kuanos = azul oscuro y korax = cuervo. Su epíteto
    yncas hace referencia a la cultura Inca.
  </p>

  <h2>Tamaño y Forma</h2>
  <p class="ps">
    Mide de 25 a 27 cm y pesa entre 66 y 92 g. Ambos sexos son similares.
    Presentan una cresta frontal formada por plumas nasales y de la frente.
    También manchas azules en la frente, encima del ojo y en la región malar.
    Coronilla y nuca blancos, esta última azul en la base, lados de la cabeza,
    garganta y alto pecho negros. Las partes superiores es de color verde con la
    cola un poco más oscura. Sus partes bajas son amarillas con las cobertoras
    alares cafés y las de la cola más negras. Su iris es café amarillento y sus
    patas y pico negros. Los jóvenes son similares a los adultos pero carecen de
    mancha azul encima del ojo.
  </p>

  <h2>Hábitat</h2>
  <p class="ps">
    Habita en bosques de montaña pero también en bosque más húmedos de tierras
    bajas. Puede habitar en áreas intervenidas por el hombre como bosques en
    crecimiento secundario, plantaciones de pino, cipreses, cafè y cacao.
  </p>
</div>

<iframe class="video"
  width="560"
  height="315"
  src="https://www.youtube.com/embed/mqQUonBhYtI"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>
