<footer>

    <div class="container_footer">
        <div class="box_footer">

        <div class="logo">
         <img class="logo_final" src="../../assets/image/28786511488_fddb9870f7_b.jpg" alt="logo_final">
        </div>

        <div class="terms">
        <p>
            Universidad Icesi, Calle 18 No. 122-135, Cali-Colombia | Teléfono:555 2334 | Fax: 555 1441
            Política de privacidad - Políticas comunidades virtuales
            Copyright © 2010 www.icesi.edu.co
        </p>
      </div>

      </div>

      <ul class="box-footer">
        
        
        <li><a href="#">INICIO</a></li>
     
      </ul>

     


    </div>
           <div class="box_copyright">
             <hr>
             

           </div>
 <!-- FIN :D -->


  </footer>
